<aside class="menuside">
    <div id="mainMenu" class="main-menu">
        <h3>
            <span>我的工作台</span>
        </h3>
        <div>
            <dl>
                <dt  ng-class="{fold:statueCon}" ng-click="statueConFn()">
                    {{parentName}}
                </dt>
                <dd ng-hide="statueCon">
                    <ul>
                        <li ng-repeat="i in data">
                            <a ui-sref="{{i.route}}({id:i.id})">
                                <em>{{i.name}}</em>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
</aside>
<div ui-view>

</div>