<section class="main page" id="sections">
    <div class="fixed-bar">

        <div class="item-title">
            <h3 id="tile">角色管理</h3>
        </div>
        <hr>
    </div>
    <div class="fixed-empty"></div>

    <div class="tb-type1 noborder search">
        <span>状态</span>
        <select name="" id="" ng-model="statues">
            <option value="">全部</option>
            <option value="启用">启用</option>
            <option value="禁用">禁用</option>
        </select>
        <span>名称</span>
        <input type="text" ng-model="roleName"/>
        <button ng-click="searchFn()">查询</button>
    </div>
    <table class="table tb-type2">
        <thead>
        <tr class="space">
            <th colspan="15" class="nobg">列表</th>
        </tr>
        <tr class="thead">
            <th>ID</th>
            <th>名称</th>
            <th>状态</th>
            <th>序号</th>
            <th>创建时间</th>
            <th class="w300 align-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cutoutData">
            <td ng-bind="item.ID"></td>
            <td ng-bind="item.role"></td>
            <td ng-bind="item.state"></td>
            <td ng-bind="item.orders"></td>
            <td ng-bind="item.creattime |date:'yyyy-MM-dd hh:mm'"></td>
            <td class="w300 align-center">
                <a class="edit" href="" ng-click="amendFn(item)">修改</a> |
                <a class="edit" href="" ng-click="deleteFn(item)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="hid" ng-show="cutPageState">

        <div class="fl marl50">
            <span  class="anniu1" ng-click="updownFn('-')">上一页</span>
            <span class="annius" ng-class="{back:(index+1)==1}" ng-click="changeIndexFn(1)">1</span>
            <span class="annius" ng-show="showStatue1">...</span>
            <span ng-repeat="i in pageArr" ng-show="showArr.indexOf(i)!=-1" class="annius" ng-class="{back:(index+1)==i}" ng-click="changeIndexFn(i)">{{i}}</span>
            <span  class="annius" ng-show="showStatue2">...</span>
            <span class="annius" ng-show="lastPage" ng-class="{back:(index+1)==allPage}" ng-click="changeIndexFn(allPage)">{{allPage}}</span>
            <span  class="anniu1" ng-click="updownFn('+')">下一页</span>
            第<input type="number" min="1" max="{{allPage}}" ng-change="changeInput()" ng-model="valueDATA" style="width:50px;"/>页
        </div>

        <span style="padding-left: 30px">总共有<b >{{allPage}}</b>条数据</span>
    </div>
</section>
<confirm></confirm>
<amend-popup></amend-popup>