<div class="roleAdd">
    <h4>角色管理</h4>
    <hr>
    <ul>
        <li>ID：<input type="text" ng-model="add.ID"></li>
        <li>登录名：<input type="text" ng-model="add.loginname"></li>
        <li>真实姓名：<input type="text" ng-model="add.name"></li>
        <li>角色：<input type="text" ng-model="add.role"></li>
        <li>手机：<input type="text" ng-model="add.telephone"></li>
        <li>邮箱：<input type="text" ng-model="add.email"></li>
        <li>状态：<input type="text" ng-model="add.state"></li>
        <li>创建时间: <input type="text" ng-model="add.creattime"></li>
    </ul>
    <button ng-click="addFn()">add</button>
</div>